<h1><%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
<% if (flashMessage && flashMessage.length) { %><div class="flash-message"><%= flashMessage[0] %></div><% } %>

<div class="vehicle-detail">
  <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
  <p><strong>Year:</strong> <%= vehicle.inv_year %></p>
  <p><strong>Price:</strong> $<%= vehicle.inv_price %></p>
  <p><strong>Miles:</strong> <%= vehicle.inv_miles %></p>
  <p><strong>Color:</strong> <%= vehicle.inv_color %></p>
  <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
  <p><a href="/inv/type/<%= vehicle.classification_name %>">Back to <%= vehicle.classification_name %></a></p>
</div>